<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/chating.css" />
    <link rel="stylesheet" href="resources/css/index.css" />
  </head>
  <body>
    <div class="all-wrapper">
      <div class="menu-bar">대충메뉴</div>
      <div class="chating-all-wrapper">
        <div class="chating-match-wrapper">
          <div class="chating-match-nickname">닉네임일곱글자</div>
          <div class="chating-match-grade">◆</div>
          <div class="chating-match-nickname">님과의 대화</div>
        </div>
        <div class="chating-text-wrapper">
          <div class="speech-bubble"></div>
        </div>
        <div class="chating-input-wrapper">
          <div class="chating-input"><input type="text" /></div>
          <div class="chating-button"><button type="submit">전송</button></div>
        </div>
      </div>
    </div>
  </body>
</html>
