<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="/resources/js/community_video_update.js">
    </script>
    <link rel="stylesheet" href="/resources/css/community_video_insert.css">
</head>
<body>
<div class="community-video-update-all-wrapper">

    <div class="community-showoff-video">
        <div th:each="video : ${showoffList.videoList}">
            <video class="video" controls>
                <source
                        th:src="@{/resources/upload/video/{filename}(filename=${video})}"
                        type="video/mp4"
                />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <form class="video-update-form" action="/community/video/update" method="post">
        <input name="b_pk" type="hidden" th:value="${showoffList.b_pk}">
        <div class="title-box">
            <p>Title</p>
            <input type="text" name="b_title" th:value="${showoffList.b_title}"/>
        </div>
        <div class="text-box">
            <textarea name="b_text" cols="30" rows="10" maxlength="200" th:value="${showoffList.b_text}"/></textarea>
        </div>
        <button class="video-insert-btn" type="submit">Post</button>
    </form>
</div>

<script>
    // 인풋 포커스 div background-color 변경
    document.addEventListener('DOMContentLoaded', function() {
        var inputElement = document.querySelector('input[name="b_title"]');
        var titleBox = document.querySelector('.title-box');

        inputElement.addEventListener('focus', function() {
            titleBox.style.backgroundColor = '#f3f6ee';
        });

        inputElement.addEventListener('blur', function() {
            titleBox.style.backgroundColor = '';
        });
    });
</script>

</body>
</html>