<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/community_video.css"/>
</head>
<body>
<div class="community-contents-wrapper">
    <div class="community-content" th:each="show : ${showoffLists}"
         th:onclick="'location.href=\'/community/video/detail?b_pk=' + ${show.b_pk} + '\''">
        <div class="community-video" th:text="${show.b_video}"></div>
        <div class="community-likecomments-wrapper">
            <div class="community-like"><img src="/resources/icon/love.png"/></div>
            <div class="community-like-count" th:text="${show.l_count}"></div>
            <div class="community-comments"><img src="/resources/icon/chat-bubble.png"/></div>
            <div class="community-comments-count">12</div>
        </div>
        <div class="community-climbing-name" th:text="${show.b_title}"></div>
        <div class="community-nickname-wrapper">
            <div class="community-nickname" th:text="${show.u_nickname}"></div>
            <div class="community-grade"><img th:src="@{'/resources/grade_icon/hold_' + ${show.u_grade} + '.png'}"></div>
        </div>
    </div>
</div>
<button class="community-video-insert" onclick="location.href='/community/video/insert'"></button>


</body>
</html>
