<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/community_menu.css"/>
</head>
<body>
<div class="community-all-wrapper">
    <div class="community-search-wrapper">
        <div>
            <select>
                <option>검색 선택</option>
                <option>암장</option>
                <option>닉네임</option>
            </select>
        </div>
        <div><input type="text"/></div>
    </div>
    <div class="community-category-wrapper">
        <div onclick="location.href='/community/video'">자랑</div>
        <div onclick="location.href='/community/lfg'">모집</div>
    </div>
    <div th:include="${community_content}"></div>
</div>
</body>
</html>