<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <link rel="stylesheet" href="/resources/css/community_video_insert.css"/>
    <script src="/resources/js/community_video_insert.js" defer></script>
</head>
<body>
<div th:text="${user_id}"></div>
<form id="uploadForm" action="/community/video/insert" method="post" onsubmit="return validateForm(event);"
      enctype="multipart/form-data">
    <div class="community-insert-container">
        <div class="video-box">
            <input type="hidden" name="b_u_id" th:value="${session.user_id}"/>
            <p>Video</p>
            <label class="custom-upload-btn" for="uploadFile">Upload</label>
            <input id="uploadFile" type="file" multiple="multiple" name="b_FileName"
                   onchange="setThumbnail(event);">
            <div class="community-showoff-video"></div>
            <div class="file-name" id="fileNameDisplay">No files selected</div>
<!--            <div class="custom-arrows" style="display: none">-->
<!--                <button type="button" class="slick-prev">&lt;</button>-->
<!--                <button type="button" class="slick-next">&gt;</button>-->
<!--            </div>-->
        </div>
        <div class="thumbnail-box">
            <p>Thumbnail</p>
            <label class="custom-upload-btn" for="uploadThumbnail">Upload</label>
            <input id="uploadThumbnail" type="file" name="b_FileThumbnail"/>
            <div class="file-name" id="thumbnailNameDisplay">No thumbnail selected</div>
        </div>
        <div class="title-box">
            <p>Title</p>
            <input type="text" name="b_title" placeholder="Type hashtag" maxlength="20"/>
        </div>
        <div class="text-box">
            <p>Text</p>
            <textarea name="b_text" cols="30" rows="10" maxlength="200"></textarea>
<!--            <input type="text" name="b_text" maxlength="200"/>-->
        </div>
        <button type="submit" id="video-insert-btn">Post</button>
    </div>
</form>
</body>
</html>