<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/resources/css/community_detail.css"/>
    <script src="/resources/js/community_lfg_detail.js">
    </script>
    <title>Title</title>
</head>
<body>
<div class="lfg-detail all-wrapper">

    <!--  Title  -->
    <div class="lfg-detail top-box title">
        <div class="lfg-detail-title">
            <p id="lfg-title-category" th:text="'[' + ${lfgList.b_category} + '] '"></p>
            <p th:text="${lfgList.b_title}"></p>
        </div>
    </div>

    <!--  닉네임-->
    <div class="lfg-detail top-box name-date-more">
        <div class="lfg-detail name-box">
            <p class="lfg-detail nickname" th:text="${lfgList.u_nickname}"
               th:attr="data-nickname=${lfgList.u_nickname}, data-id=${lfgList.u_id}"></p>
            <img th:src="@{'/resources/grade_icon/hold_' + ${lfgList.u_grade} + '.png'}">
        </div>

        <!-- 날짜, 더보기 버튼 (수정, 삭제)  -->
        <div class="lfg-detail date-more-box">
            <div th:text="${#dates.format(lfgList.b_datetime, 'yyyy.MM.dd')}"></div>
            <img id="lfg-detail-more-btn" th:if="${session.user_id == lfgList.u_id}" src="/resources/icon/more.png">
            <ul class="lfg-detail-updelMenu">
                <li th:onclick="'location.href=\'/community/lfg/update?b_pk=' + ${lfgList.b_pk} + '\''"><img
                        src="/resources/icon/update.png"/>update
                </li>
                <li th:onclick="'deleteCheck('+${lfgList.b_pk}+')'"><img src="/resources/icon/delete.png"/>delete
                </li>
            </ul>
        </div>
    </div>

    <!--  본문  -->
    <div class="lfg-detail-text" th:utext="${lfgList.b_text}"></div>

    <!--  댓글 수  -->
    <div class="showoff-detail-comments-comments">
        <img src="/resources/icon/chat-bubble.png"/>
        <p th:text="${lfgList.c_count}"></p>
    </div>

    <!--  댓글 인풋 폼  -->
    <form action="/community/lfg/comments/insert" method="post">
        <div class="showoff-detail-comments-input">
            <input name="cm_text">
            <input type="hidden" name="cm_u_id" th:value="${session.user_id}"/>
            <button name="cm_b_pk" th:value="${lfgList.b_pk}">
                <img src="/resources/icon/send.png">
            </button>
        </div>
    </form>

    <!--    댓글 시작    -->
    <div class="comment-list" th:each="co : ${showoffCommentsLists}">
        <div class="comment-top-box">
            <div class="comment-name-box">
                <p th:text="${co.u_nickname}" class="nickname" th:attr="data-nickname=${co.u_nickname}, data-id=${co.cm_u_id}"></p>
                <img th:src="@{'/resources/grade_icon/hold_' + ${co.u_grade} + '.png'}">
            </div>
            <div class="date-more-box">
                <p th:text="${#dates.format(co.cm_datetime, 'yyyy.MM.dd HH:mm')}"></p>
                <img class="showoff-detail-comments-delete"
                     th:onclick="'deleteCommentsCheck('+${co.cm_pk}+','+${lfgList.b_pk}+')'"
                     th:if="${session.user_id == co.cm_u_id}"
                     src="/resources/icon/delete.png"/>
            </div>
        </div>
        <p class="comment-text" th:text="${co.cm_text}"></p>
    </div>

</div>

</body>
</html>