<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/community_video.css"/>
</head>
<body>
<div class="community-contents-wrapper">
    <div class="community-content" th:each="show : ${showoffLists}">
        <div class="community-video" th:text="${show.b_video}"></div>
        <div class="community-likecomments-wrapper">
            <div class="community-like">♥</div>
            <div class="community-like-count">74</div>
            <div class="community-comments">댓글</div>
            <div class="community-comments-count">12</div>
        </div>
        <div class="community-climbing-name" th:text="${show.b_title}"></div>
        <div class="community-nickname" th:text="${show.u_nickname}"></div>
    </div>
</div>
</body>
</html>
