<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <link rel="stylesheet" href="/resources/css/community_video_insert.css"/>
    <script src="/resources/js/community_video_insert.js" defer></script>
</head>
<body>
<form id="uploadForm" action="/community/video/insert" method="post" onsubmit="return validateForm(event);"
      enctype="multipart/form-data">
    <!--    video : <input id="uploadFile" type="file" multiple="multiple" name="b_FileName" onchange="calltest(this)" /> <br>-->
    video : <input id="uploadFile" type="file" multiple="multiple" name="b_FileName" onchange="setThumbnail(event);">
    <div class="custom-arrows" style="display: none">
        <button type="button" class="slick-prev">&lt;</button>
        <button type="button" class="slick-next">&gt;</button>
    </div>
    <div class="community-showoff-video"></div>
    thumbnail : <input id="uploadThumbnail" type="file" name="b_FileThumbnail"/> <br>
    제목 : <input type="text" name="b_title" placeholder="'#암장이름'형식으로입력 / 2~40글자 입력"/> <br>
    본문 : <input type="text" name="b_text" placeholder="'2~200글자 입력 / #으로 해시태그 가능"/> <br>
    <button type="submit">등록</button>
</form>
</body>
</html>