<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/community_lfg.css"/>
</head>

<body>
<div class="community-lfg-all-wrapper">
    <div class="community-lfg-wrapper">
        <div class="community-lfg-above">
            <div class="community-lfg-category">크루원 모집</div>
            <div class="community-lfg-nickname-wrapper">
                <div class="community-lfg-nickname">닉네임일곱글자</div>
                <div class="community-lfg-grade">◆</div>
            </div>
            <div class="community-lfg-date">2024.07.14 15:12</div>
        </div>
        <div class="community-lfg-below">
            우리 크루 들어와서 같이 버디해요 (5/8)
        </div>
    </div>
    <div class="community-lfg-wrapper">
        <div class="community-lfg-above">
            <div class="community-lfg-category">크루원 모집</div>
            <div class="community-lfg-nickname-wrapper">
                <div class="community-lfg-nickname">닉네임일곱글자</div>
                <div class="community-lfg-grade">◆</div>
            </div>
            <div class="community-lfg-date">2024.07.14 15:12</div>
        </div>
        <div class="community-lfg-below">
            우리 크루 들어와서 같이 버디해요 (5/8)
        </div>
    </div>
</div>
</body>
</html>
