<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/community_menu.css"/>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="/resources/js/community_menu.js" defer>

</script>
<body>
<div class="community-all-wrapper">
    <div class="community-category-wrapper">
        <div onclick="location.href='/community/video'">video post</div>
        <div onclick="location.href='/community/lfg'">together</div>
        <div class="community-search-icon"></div>
    </div>
    <form th:action="@{${actionURL}}">
        <div class="community-search-wrapper hidden">
            <select name="columnName">
                <option value="b_text">본문</option>
                <option value="b_title">제목</option>
                <option value="u_nickname">닉네임</option>
            </select>
            <div class="search-input">
                <input type="text" name="searchWord"/>
                <button><img src="/resources/icon/search.png"></button>
            </div>
        </div>
    </form>
    <div class="community-search-result">
        <div th:if="${searchResult == 'searchResult'}">
            Search "<span style="font-style: italic" th:text="${columnName}"></span>" as "<span style="font-style: italic" th:text="${searchWord}"></span>"
        </div>
        <div th:if="${#lists.isEmpty(recruitment) and #lists.isEmpty(showoffLists)}">
            검색 결과가 없습니다.
        </div>
    </div>
    <div th:include="${community_content}"></div>
</div>
</body>
</html>