<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Title</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <link rel="stylesheet" href="/resources/css/community_detail.css"/>
    <script src="/resources/js/community_video_detail.js" defer>
    </script>
</head>
<body>
<input id="l_b_pk" type="hidden" th:value="${showoffList.b_pk}">
<div class="video-detail all-wrapper">

    <!--  최상단   이름, 그레이드      날짜 -->
    <div class="video-detail top-box">
        <div class="video-detail name-box">
            <p class="nickname" th:text="${showoffList.u_nickname}"
               th:attr="data-privacy=${showoffList.u_profile}, data-id=${showoffList.b_u_id}, data-nickname=${showoffList.u_nickname}"></p>
            <img th:src="@{'/resources/grade_icon/hold_' + ${showoffList.u_grade} + '.png'}">
        </div>
        <div class="detail-date" th:text="${#dates.format(showoffList.b_datetime, 'yyyy.MM.dd')}"></div>
    </div>

    <!--   EACH   -->
    <div style="position: relative;">
        <div class="showoff-video">
            <div th:each="video : ${showoffList.videoList}">
                <video class="video" controls>
                    <source
                            th:src="${video}"
                            type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>


    <div class="video-detail-info-container">
        <!--  하트 / 수정,삭제   -->
        <div class="video-like-delete-box">
            <div class="video-detail-like-box">
                <div class="video-detail-like-icon" th:data-b_pk="${showoffList.b_pk}"
                     th:data-u_id="${session.user_id}"
                     th:if="${showoffLikeCountThisUser == 0}">
                    <img class="like-icon" src="/resources/icon/love_blank.png">
                </div>
                <div class="video-detail-like-icon" th:data-b_pk="${showoffList.b_pk}"
                     th:data-u_id="${session.user_id}"
                     th:if="${showoffLikeCountThisUser > 0}">
                    <img class="like-icon" src="/resources/icon/love.png">
                </div>
                <p class="video-detail-like-count" th:text="${showoffList.l_count}"></p>
            </div>

            <!--  수정, 삭제  -->
            <div class="video-detail-update-delete-box" th:if="${session.user_id == showoffList.u_id}">
                <div class="video-detail-update"
                     th:onclick="'location.href=\'/community/video/update?b_pk=' + ${showoffList.b_pk} + '\''">
                    <img src="/resources/icon/update.png">
                </div>
                <div class="video-detail-delete" th:onclick="'deleteCheck('+${showoffList.b_pk}+')'">
                    <img src="/resources/icon/delete.png">
                </div>
            </div>
        </div>

        <!--  타이틀  -->
        <div class="video-detail-title"
             th:text="${showoffList.b_title}"></div>
        <!--  본문  -->
        <div class="video-detail-text" th:text="${showoffList.b_text}"></div>
        <!--  댓글 수  -->
        <div class="showoff-detail-comments-comments">
            <img src="/resources/icon/chat-bubble.png"/>
            <p th:text="${showoffList.c_count}"></p>
        </div>
    </div>


    <!--  댓글 인풋 폼  -->
    <form action="/community/video/comments/insert" method="post">
        <div class="showoff-detail-comments-input-wrapper">
            <div class="showoff-detail-comments-input">
                <input name="cm_text">
                <input type="hidden" name="cm_u_id" th:value="${session.user_id}"/>
                <button name="cm_b_pk" th:value="${showoffList.b_pk}">
                    <img src="/resources/icon/send.png">
                </button>
            </div>
            <div class="select-secret-comment">
                <label><input type="checkbox" name="cm_secret" id="cm_secret_checkbox" value="yes"/>Secret comments</label>
                <input type="hidden" name="cm_secret" id="cm_secret_hidden" value="no"/>
            </div>
        </div>
    </form>

    <!--    댓글 시작    -->
    <div class="comment-list" th:each="co : ${showoffCommentsLists}">
        <div class="showoff-detail-comments-comments secret"
             th:if="${co.cm_secret == 'yes' and !(session.user_id == co.cm_u_id) and !(session.user_id == showoffList.u_id) }">
            <img src="/resources/icon/secret.png">
            <p>This is secret comments</p>
        </div>
        <div th:if="${co.cm_secret == 'no' or session.user_id == co.cm_u_id or session.user_id == showoffList.u_id }">
            <div class="comment-top-box">
                <div class="comment-name-box">
                    <p th:text="${co.u_nickname}" class="nickname"
                       th:attr="data-privacy=${co.u_profile}, data-id=${co.cm_u_id}, data-nickname=${co.u_nickname}"></p>
                    <img th:src="@{'/resources/grade_icon/hold_' + ${co.u_grade} + '.png'}">
                </div>
                <div class="date-more-box">
                    <p th:text="${#dates.format(co.cm_datetime, 'yyyy.MM.dd HH:mm')}"></p>
                    <img class="showoff-detail-comments-delete"
                         th:onclick="'deleteCommentsCheck('+${co.cm_pk}+','+${showoffList.b_pk}+')'"
                         th:if="${session.user_id == co.cm_u_id}"
                         src="/resources/icon/delete.png"/>
                </div>
            </div>

            <p class="comment-text" th:text="${co.cm_text}"></p>
            <p class="comment-toggle">
                <img src="/resources/icon/reply.png">
                reply (<span th:text="${co.re_count}"></span>)
            </p>

            <!-- 대댓글 시작 -->
            <div class="comment-bottom-box-wrapper" style="display: none">
                <div class="comment-bottom-box" th:each="rl : ${replyLists}" th:if="${co.cm_pk == rl.re_cm_pk}">

                    <div class="comment-bottom-name-date">
                        <div class="comment-name-box reply">
                            <p th:text="${rl.u_nickname}" class="nickname"
                               th:attr="data-privacy=${rl.u_profile}, data-id=${rl.re_u_id}, data-nickname=${rl.u_nickname}"></p>
                            <img th:src="@{'/resources/grade_icon/hold_' + ${rl.u_grade} + '.png'}">
                        </div>
                        <div class="date-more-box">
                            <p th:text="${#dates.format(rl.re_datetime, 'yyyy.MM.dd HH:mm')}"></p>
                            <img class="showoff-detail-comments-delete"
                                 th:onclick="'deleteReplyCheck(\''+${rl.re_pk}+'\',\''+${showoffList.b_pk}+'\')'"
                                 th:if="${session.user_id == rl.re_u_id}"
                                 src="/resources/icon/delete.png"/>
                        </div>
                    </div>

                    <p class="comment-text" th:text="${rl.re_text}"></p>
                </div>

                <!-- 대댓글 잇풋 -->
                <form action="/community/video/replyComments/insert" method="post">
                    <div class="showoff-detail-comments-input">
                        <input name="re_text">
                        <input type="hidden" name="re_u_id" th:value="${session.user_id}"/>
                        <input type="hidden" name="re_b_pk" th:value="${showoffList.b_pk}">
                        <button name="re_cm_pk" th:value="${co.cm_pk}">
                            <img src="/resources/icon/send.png">
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <!-- 대댓글 끝 -->
    </div>
</div>
<script>
    function deleteReplyCheck(re_pk, b_pk) {
        let ok = confirm("정말 삭제하시겠습니까?");
        if (ok) {
            location.href = '/community/replyComments/delete?re_pk=' + re_pk + '&b_pk=' + b_pk;
        }
    }

    document.getElementById('cm_secret_checkbox').addEventListener('change', function() {
        var hiddenInput = document.getElementById('cm_secret_hidden');
        if (this.checked) {
            hiddenInput.disabled = true; // 체크되면 hidden input을 비활성화
        } else {
            hiddenInput.disabled = false; // 체크 해제 시 hidden input을 활성화
        }
    });
</script>
</body>

</html>
