<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Title</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <link rel="stylesheet" href="/resources/css/community_video_detail.css"/>
    <script src="/resources/js/community_video_detail.js" defer>
    </script>
</head>
<body>
<input id="l_b_pk" type="hidden" th:value="${showoffList.b_pk}">
<div class="video-detail-all-wrapper content-container">

    <!--  최상단   이름, 그레이드      날짜 -->
    <div class="video-detail top-box">
        <div class="video-detail name-box">
            <p th:text="${showoffList.u_nickname}"></p>
            <img th:src="@{'/resources/grade_icon/hold_' + ${showoffList.u_grade} + '.png'}">
        </div>
        <div class="detail-date" th:text="${#dates.format(showoffList.b_datetime, 'yyyy.MM.dd')}"></div>
    </div>


    <!--   EACH   -->
    <div style="position: relative;">
        <div class="showoff-video">
            <div th:each="video : ${showoffList.videoList}">
                <video class="video" controls>
                    <source
                            th:src="@{/resources/upload/video/{filename}(filename=${video})}"
                            type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>


    <div class="video-detail-info-container">
        <!--  하트 / 더보기   -->
        <div class="video-like-delete-box">
            <!--  하트  -->
            <div class="video-detail-like-box">
                <div class="video-detail-like-icon" th:data-b_pk="${showoffList.b_pk}"
                     th:data-u_id="${session.user_id}"
                     th:if="${showoffLikeCountThisUser == 0}">
                    <img class="like-icon" src="/resources/icon/love_blank.png">
                </div>
                <div class="video-detail-like-icon" th:data-b_pk="${showoffList.b_pk}"
                     th:data-u_id="${session.user_id}"
                     th:if="${showoffLikeCountThisUser > 0}">
                    <img class="like-icon" src="/resources/icon/love.png">
                </div>
                <p class="video-detail-like-count" th:text="${showoffList.l_count}"></p>
            </div>

            <!--  수정, 삭제  -->
            <div class="video-detail-update-delete-box" th:if="${session.user_id == showoffList.u_id}">
                <div class="video-detail-update"
                     th:onclick="'location.href=\'/community/video/update?b_pk=' + ${showoffList.b_pk} + '\''">
                    <img src="/resources/icon/update.png">
                </div>
                <div class="video-detail-delete" th:onclick="'deleteCheck('+${showoffList.b_pk}+')'">
                    <img src="/resources/icon/delete.png">
                </div>
            </div>
        </div>

        <!--  타이틀  -->
        <div class="video-detail-title"
             th:text="${showoffList.b_title}"></div>
        <!--  본문  -->
        <div class="video-detail-text" th:text="${showoffList.b_text}"></div>
        <!--  댓글 수  -->
        <div class="showoff-detail-comments-comments">
            <img src="/resources/icon/chat-bubble.png"/>
            <p th:text="${showoffList.c_count}"></p>
        </div>
    </div>


    <!--  댓글 인풋 폼  -->
    <form action="/community/video/comments/insert" method="post">
        <div class="showoff-detail-comments-input">
            <input name="cm_text">
            <input type="hidden" name="cm_u_id" th:value="${session.user_id}"/>
            <button name="cm_b_pk" th:value="${showoffList.b_pk}">
                <img src="/resources/icon/send.png">
            </button>
        </div>
    </form>

    <!--    댓글 시작    -->
    <div class="comment-list" th:each="co : ${showoffCommentsLists}">
        <div class="top-box-comment">
            <div class="name-box">
                <p th:text="${co.u_nickname}" class="comment-nickname"></p>
                <img th:src="@{'/resources/grade_icon/hold_' + ${co.u_grade} + '.png'}">
            </div>
            <div class="date-delete-box">
                <p th:text="${#dates.format(co.cm_datetime, 'yyyy.MM.dd')}"></p>
                <div class="showoff-detail-comments-delete"
                     th:onclick="'deleteCommentsCheck('+${co.cm_pk}+','+${showoffList.b_pk}+')'"
                     th:if="${session.user_id == co.cm_u_id}">
                    <img src="/resources/icon/delete.png"/>
                </div>
            </div>
        </div>
        <p class="comment-text" th:text="${co.cm_text}"></p>
    </div>

    <ul class="video profile-menu">
        <li th:data-id="${co.u_id}" id="link-profile">Profile</li>
        <li th:data-nickname="${co.u_nickname}" id="link-video">Post (Video)</li>
        <li th:data-nickname="${co.u_nickname}" id="link-lfg">Post (Lfg)</li>
        <li>Chating</li>
    </ul>


</div>
</body>

</html>
