<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/resources/css/community_lfg_insert.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/summernote-lite.css">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <link rel="stylesheet" href="/resources/css/community_lfg_insert.css"/>
    <script src="/resources/js/community_lfg_update.js" defer></script>

</head>
<body>
<form action="/community/lfg/update" method="post" class="lfg-insert-container">
    <input id="b_pk_value" name="b_pk" type="hidden" th:value="${lfgList.b_pk}"/>
    <div class="community-lfg-title-input">
        <select name="b_category">
            <option value="Impromptu" th:selected="${lfgList.b_category == 'Impromptu'}">Impromptu</option>
            <option value="Crew Recruitment" th:selected="${lfgList.b_category == 'Crew Recruitment'}">Crew Recruitment
            </option>
        </select>
        <input type="text" name="b_title" placeholder="TITLE" th:value="${lfgList.b_title}">
    </div>
    <div>
        <textarea id="summernote2" name="b_text"></textarea>
    </div>
    <div class="community-lfg-insert-button">
        <button name="b_u_id" th:value="${session.user_id}" id="lfg-insert-btn">Post</button>
    </div>
</form>

</body>
<style>
    .note-btn i {
        padding: 0 10px !important;
    }
    .note-current-fontname {
        padding: 0px 10px !important;
    }
    .note-popover .popover-content .note-color .dropdown-toggle, .note-editor .note-toolbar .note-color .dropdown-toggle {
        padding-top: 22px !important;
    }
    @media (max-width: 768px){
        .note-popover .popover-content .note-color .dropdown-toggle, .note-editor .note-toolbar .note-color .dropdown-toggle {
            padding-top: 10px !important;
        }
    }

</style>
<script>
    $(document).ready(function () {

        let bPk = $('#b_pk_value').val();

        // 서버에서 HTML 코드를 가져옴
        $.ajax({
            url: '/community/lfg/getHTML', // HTML 코드를 반환하는 서버의 엔드포인트
            method: 'GET',
            data: {b_pk: bPk},
            success: function (response) {
                console.log(response.b_text);
                // Summernote 초기화
                $('#summernote2').summernote({
                    height: 350,
                    toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['fontname', ['fontname']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['picture']],
                        ['view', ['fullscreen', 'codeview']],
                    ],
                    // 리사이징바 제거 bm
                    focus: true,
                    disableResizeEditor: true,
                    callbacks: {
                        onImageUpload: function (files) {
                            for (let i = 0; i < files.length; i++) {
                                let reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#summernote2').summernote('insertImage', e.target.result);
                                };
                                reader.readAsDataURL(files[i]);
                                uploadImage(files[i]);
                            }
                        }
                    }
                });
                // 리사이징바 제거 bm
                $('.note-statusbar').hide();

                // 서버에서 가져온 HTML 코드를 에디터에 삽입
                $('#summernote2').summernote('code', response.b_text);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(textStatus + " " + errorThrown);
            }
        });
    });

    function uploadImage(file) {
        let data = new FormData();
        data.append('file', file);

        $.ajax({
            url: '/community/lfg/insert/uploadImg',
            method: 'POST',
            data: data,
            contentType: false,
            processData: false,
            success: function (response) {
                $('#summernote2').summernote('insertImage', response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error(textStatus + " " + errorThrown);
            }
        });
    }

</script>
</html>