<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/community_detail.css"/>
</head>
<body>
<div class="my-comment-list-container" id="my-comment-list-container">
    <h2 id="my-comment-h2">My Comments</h2>
    <div class="comment-list" th:each="mc : ${myComments}"
         th:attr="onclick=|checkDetail('${mc.cm_b_pk}', '${mc.b_category}')|">
        <div class="comment-top-box">
            <div class="comment-name-box mypage-comment-title">
                <p>Title. </p>
                <p th:if="${mc.b_title == '-'}" th:text="'simulator#'+${mc.cm_b_pk}" class="title"></p>
                <p th:if="${mc.b_title != '-'}" th:text="${mc.b_title}" class="title"></p>
            </div>
        </div>
        <div class="comment-text-box" style="display: flex; justify-content: space-between">
            <p class="comment-text" th:text="${mc.cm_text}"></p>
            <p class="comment-text date" th:text="${#dates.format(mc.cm_datetime, 'yyyy.MM.dd HH:mm')}"></p>
        </div>
    </div>
</div>
<script th:inline="javascript">

    // 댓글이 0이면 Empty 어펜드
    commentSizeCheck();
    function commentSizeCheck() {
        let myCommentsSize = /*[[${myComments.size()}]]*/;
        console.log("myComments size: " + myCommentsSize);
        if (myCommentsSize == 0){
            let container = document.getElementById('my-comment-list-container');
            let emptyMessage = document.createElement('p');
            emptyMessage.textContent = 'Empty';
            emptyMessage.style.color = '#79976a';

            container.appendChild(emptyMessage);
        }
    }

    function checkDetail(pk, category) {
        if (category == 'simulator') {
            location.href = '/simulator/gallery_detail?b_pk=' + pk;
        } else if (category == 'video') {
            location.href = '/community/video/detail?b_pk=' + pk;
        } else {
            location.href = '/community/lfg/detail?b_pk=' + pk;
        }
    }

</script>
</body>
</html>