<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <link rel="stylesheet" href="/resources/css/mypage.css">
</head>
<body>
<div class="mypage-all-wrapper">
    <div class="mypage-profile-container">
        <div class="mypage-profile">
            <div class="mypage-title">MY Page</div>
            <div class="mypage-profile-img">
                <img th:src="@{${myinfo.u_img}}">
            </div>
            <img id="climbing-img" src="/resources/img/climbing.png">
            <div class="mypage-name-box">
                <p th:text="${myinfo.u_nickname}"></p>
                <img id="grade" th:if="${myinfo.u_grade != 'Setter'}"
                     th:src="@{'resources/grade_icon/hold_' + ${myinfo.u_grade} + '.png'}">
                <img id="grade-setter" th:if="${myinfo.u_grade == 'Setter'}"
                     th:src="@{'resources/grade_icon/hold_Setter.png'}">

                <a id="instagram-link" th:href="@{'http://www.instagram.com/' + ${myinfo.u_insta}}" target="_blank">
                    <img id="instagram" src="/resources/icon/insta.png"></a>
            </div>
        </div>
        <div class="mypage homeground">
            <div>
                <p>Home ground</p>
                <img src="/resources/icon/right.png"><br>
            </div>
            <p th:text="${myinfo.u_homeground}"></p>
        </div>
        <div class="mypage comments" onclick="location.href='/mypage/myComments'">
            <p>Comments</p>
            <img src="/resources/icon/right.png">
        </div>
        <div class="mypage myplace" id="mypage-myplace" onclick="goMyplace()">
            <p>My Place</p>
            <img src="/resources/icon/right.png">
        </div>
        <div class="mypage info-update" onclick="location.href='/mypage/update'">
            Edit
        </div>
    </div>
</div>
</body>
<script>
    window.addEventListener("load", () => {
        document.querySelector(".mypage").addEventListener("click", () => {
            const text = document.querySelector(".mypage").children;
            goMap(text[1].innerText)
        })
    })

    function goMyplace() {
        location.href = "/mapC?type=mypage";
    }

    function goMap(name) {
        const placeUrl = "https://www.google.com/maps/search/?api=1&query=" + name;

        window.open(placeUrl, '_blank');
    }
</script>
</html>