<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/resources/css/signup.css" />
    <script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${mapKey} + '&libraries=places'" defer></script>
</head>
<body>
<form action="/mypage/update" method="post" class="signup-container" enctype="multipart/form-data">
    <div class="profile-img">
        <div class="profile-img-box">
            <img id="profile" th:src="${myinfo.u_img}" alt="private" />
        </div>
        <input th:value="${myinfo.u_img}" name="u_img" style="display:none"/>
        <label for="file-input" class="profile-img-upload">+</label>
        <input type="file" id="file-input" name="file_upload"/>
    </div>
    <div class="signup-input">
        <label for="u_id" class="u_label">ID</label>
        <input th:value="${myinfo.u_id}" id="u_id" class="id-input" name="u_id" readonly/>
    </div>
    <div class="signup-input">
        <label for="u_nickname" class="u_label">NickName</label>
        <input
                id="u_nickname"
                class="nickname-input"
                placeholder="NickName"
                name="u_nickname"
                th:value="${myinfo.u_nickname}"
        />
    </div>
    <div class="signup-input">
        <label for="u_insta" class="u_label">Instagram ID</label>
        <input
                id="u_insta"
                class="insta-input"
                placeholder="Instagram ID"
                name="u_insta"
                th:value="${myinfo.u_insta}"
        />
    </div>
    <div class="grade-container">
        <p>Grade</p>
        <div class="grade-box">
            <select class="grade-select" name="u_grade" id="grade-select">
                <option value="red" data-icon="/resources/grade_icon/hold_red.png" th:selected="${myinfo.u_grade == 'red'}">
                    Red
                </option>
                <option value="orange" data-icon="/resources/grade_icon/hold_orange.png" th:selected="${myinfo.u_grade == 'orange'}">
                    Orange
                </option>
                <option value="yellow" data-icon="/resources/grade_icon/hold_yellow.png" th:selected="${myinfo.u_grade == 'yellow'}">
                    Yellow
                </option>
                <option value="green" title="/resources/grade_icon/hold_green.png" th:selected="${myinfo.u_grade == 'green'}">
                    Green
                </option>
                <option value="blue" title="/resources/grade_icon/hold_blue.png" th:selected="${myinfo.u_grade == 'blue'}">
                    Blue
                </option>
                <option
                        value="deepBlue"
                        title="/resources/grade_icon/hold_deepBlue.png"
                        th:selected="${myinfo.u_grade == 'deepBlue'}"
                >
                    deepBlue
                </option>
                <option value="purple" title="/resources/grade_icon/hold_purple.png" th:selected="${myinfo.u_grade == 'purple'}">
                    Purple
                </option>
            </select>
            <div id="grade-preview">
                <img class="grade-image" id="grade-img" src="/resources/grade_icon/hold_red.png"/>
            </div>
        </div>
    </div>
    <div class="signup-input">
        <p>User Type</p>
        <select class="category-select" name="u_category">
            <option class="category-value" value="Setter" th:selected="${myinfo.u_category == 'Setter'}">Setter</option>
            <option class="category-value" value="Normal" th:selected="${myinfo.u_category == 'Normal'}">
                Normal
            </option>
        </select>
    </div>
    <div class="signup-input">
        <label for="homeground" class="u_label">Homegroud</label>
        <input
                readonly
                class="homeground"
                id="homeground"
                placeholder="Address Click Me"
                name="u_homeground"
                th:value="${myinfo.u_homeground}"
        />
    </div>
    <div class="signup-input private">
        <p>Profile Private</p>
        <select class="signup-select-box" name="u_profile">
            <option class="select-value" value="yes" th:selected="${myinfo.u_profile == 'yes'}">Public</option>
            <option class="select-value" value="no" th:selected="${myinfo.u_profile == 'no'}">Private</option>
        </select>
    </div>
    <button class="signup-btn" type="submit">Update</button>
    <p class="signup-delete-account">Delete Account</p>
    <div class="map-box" id="map-box">
        <div class="map-input-box">
            <input id="map-input" class="map-input" placeholder="Search"/>
            <p class="map-cancel" id="map-cancel">X</p>
        </div>
        <div id="map">
        </div>
    </div>
</form>
<script src="/resources/js/mypage_update.js" />
</body>
</html>