<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0"
    />
    <link rel="stylesheet" href="/resources/css/mypage.css">
</head>
<body>
<div class="mypage-all-wrapper">
    <div class="mypage-profile-container">
        <div class="mypage-profile">
            <div class="mypage-title">MY Page</div>
            <div class="mypage-profile-img">
                <img th:src="@{${myinfo.u_img}}">
            </div>
            <div class="mypage-name-box">
                <p th:text="${myinfo.u_nickname}"></p>
                <img id="grade" th:src="@{'resources/grade_icon/hold_' + ${myinfo.u_grade} + '.png'}">
                <a id="instagram-link" th:href="@{'http://www.instagram.com/' + ${myinfo.u_insta}}" target="_blank">
                    <img id="instagram" src="/resources/icon/insta.png"></a>
            </div>
        </div>
        <div class="mypage homeground" th:utext="'homeground<br>'+${myinfo.u_homeground}"></div>
        <div class="mypage myplace" id="mypage-myplace" onclick="goMyplace()">My Place</div>
        <div class="mypage menu-div">Comment</div>
        <div class="mypage info-update" onclick="location.href='/mypage/update'">Edit</div>
    </div>
    <div class="mypage homeground" th:utext="'homeground<br>'+${myinfo.u_homeground}"></div>
    <div class="mypage myplace" id="mypage-myplace" onclick="goMyplace()">My Place</div>
    <div class="mypage menu-div" onclick="location.href='/mypage/myComments'">Comment</div>
    <div class="mypage info-update" onclick="location.href='/mypage/update'">Edit</div>
</div>
</body>
<script>
    function goMyplace() {
        location.href = "/mapC?type=mypage";
    }
</script>
</html>