<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/resources/css/simulator_detail.css"/>
<script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/exporters/GLTFExporter.js"></script>
<script type="importmap">
    {
       "imports": {
  "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
  "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
        }
    }
</script>
<script type="module" src="/resources/js/simulator_detail.js" defer></script>
<body>
<div class="content-container">
    <div class="simulator-content" th:each="pj : ${project}" th:attr="data-file=${pj.b_video}">
        <div class="top-box">
            <div class="name-box">
                <p th:text="${pj.u_nickname}" class="title-nickname"></p>
                <img th:src="@{'/resources/grade_icon/hold_' + ${pj.u_grade} + '.png'}">
            </div>
            <div class="detail-date" th:text="${#dates.format(pj.b_datetime, 'yyyy.MM.dd')}"></div>
        </div>

        <div class="webgl-content">
            <div id="webgl-container"></div>
        </div>

        <div class="like-delete-box">
            <div class="like-box">
                <div id="toggle-like">
                    <img class="like-icon"
                         th:data-b_pk="${pj.b_pk}"
                         th:data-u_id="${session.user_id}"
                         th:if="${simulatorLikeCountThisUser == 0}"
                         src="/resources/icon/love_blank.png">
                    <img class="like-icon"
                         th:data-b_pk="${pj.b_pk}"
                         th:data-u_id="${session.user_id}"
                         th:if="${simulatorLikeCountThisUser > 0}"
                         src="/resources/icon/love.png">
                    <p class="like-count" th:text="${pj.l_count}"></p>
                </div>
                <img src="/resources/icon/chat-bubble.png">
                <p th:text="${pj.c_count}"></p>
            </div>
            <div class="delete"
                 th:attr="data-pk=${pj.b_pk}, data-gltf=${pj.b_video}, data-img=${pj.b_thumbnail}, data-id=${pj.b_u_id}"
                 th:if="${session.user_id} == ${pj.b_u_id}">
                <img src="/resources/icon/delete.png">
            </div>
        </div>
    </div>

    <!--  모달  -->
    <div class="s-delete-background" id="s-delete-confirm-background">
        <div class="s-delete-modal">
            <p>Are you sure you want to delete this post?</p>
            <button id="s-delete-confirm-yes">Delete</button>
            <button id="s-delete-confirm-no">Cancel</button>
        </div>
        <div class="s-delete-complete-modal">
            <p>Deleted complete</p>
            <button id="s-confirm-close">Close</button>
        </div>
    </div>

    <!--  댓글 작성  -->
    <div class="comment-container">
        <form action="/simulator/comments/insert" method="post">
            <div class="comment-input">
                <input type="hidden" name="cm_u_id" th:value="${session.user_id}"/>
                <input name="cm_text">
                <button name="cm_b_pk" th:value="${project.b_pk}">
                    <img src="/resources/icon/send.png">
                </button>
            </div>
        </form>

        <!--    댓글 시작    -->
        <div class="comment-list" th:each="scl : ${simulatorCommentsLists}">
            <div class="top-box-comment">
                <div class="name-box">
                    <p th:text="${scl.u_nickname}" class="comment-nickname"></p>
                    <img th:src="@{'/resources/grade_icon/hold_' + ${scl.u_grade} + '.png'}">
                </div>
                <div class="create-date" th:text="${#dates.format(scl.cm_datetime, 'yyyy.MM.dd HH:mm')}"></div>

            </div>
            <p id="comment-text" th:text="${scl.cm_text}"></p>
        </div>

    </div>
</div>

</body>
</html>
