<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    미디어쿼리 쓸 때에 추가해주기-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/simulator_create.css"/>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/exporters/GLTFExporter.js"></script>
    <script type="importmap">
        {
           "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
            }
        }
    </script>
    <script type="module" src="/resources/js/simulator_create.js" defer></script>
<body>
<div class="content-container">
    <div class="webgl-content">
        <div id="webgl-container"></div>
        <div class="btn-container">
            <div class="hold-list-open-btn">
                <img src="/resources/icon/hold.png">
            </div>
            <div class="save-btn" id="save-btn">
                <img src="/resources/icon/save.png">
            </div>
        </div>

        <div id="hold-list-container-pc" class="list-hidden-pc">
            <div class="hold-list-pc">
                <div class="hold-img" th:each="hold : ${holds}" th:data-hPk="${hold.h_pk}">
                    <img th:src="@{/resources/holds/img/{h_img}(h_img=${hold.h_img})}">
                </div>
            </div>
        </div>

        <div id="hold-list-container-mobile" class="list-hidden-mobile">
            <div class="hold-list-mobile">
                <div class="hold-img" th:each="hold : ${holds}" th:data-hPk="${hold.h_pk}">
                    <img th:src="@{/resources/holds/img/{h_img}(h_img=${hold.h_img})}">
                </div>
            </div>
        </div>
    </div>

    <!--  모달  -->
    <div class="s-create-modal-background" id="s-create-modal-background">
        <div class="s-create-modal" id="s-create-modal">
            <p>Do you want to save?</p>
            <p>This will be posted to the gallery.</p>
            <button id="s-confirm-save">Save</button>
            <button id="s-confirm-cancel">Cancel</button>
        </div>
        <div class="s-loading-modal" id="s-loading-modal">
            <img src="/resources/img/s_loading.gif">
            <p>Please wait for a moment</p>
        </div>
        <div class="s-save-complete-modal" id="s-save-complete-modal">
            <p id="s-modal-in-text">Save complete</p>
            <button id="s-confirm-close">Close</button>
        </div>
    </div>

</div>
</body>
</html>