<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    미디어쿼리 쓸 때에 추가해주기-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/simulator.css"/>
    <!-- menu font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Rampart+One&display=swap"
          rel="stylesheet"/>

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
    <script type="importmap">
        {
           "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
            }
        }
    </script>
<!--    <script type="module" src="resources/js/sTest/simulatorTest14_widthModefy.js" defer></script>-->
    <script type="module" src="resources/js/simulator.js" defer></script>
</head>
<body>
<div class="content-container">
    <div class="webgl-content">
        <div id="webgl-container"></div>
        <div class="hold-list-open-btn">
            <img src="/resources/icon/hold.png">
        </div>
        <div id="hold-list-container-pc" class="list-hidden-pc">
            <div class="hold-select-pc">
                <select id="hold-select-pc">
                    <option>All</option>
                    <option>Jug</option>
                    <option>Pinch</option>
                    <option>Crimp</option>
                    <option>Sloper</option>
                    <option>Pocket</option>
                    <option>Volume</option>
                </select>
            </div>
            <div class="hold-list-pc" >
                <div class="hold-img" th:each="hold : ${holds}" th:data-hPk="${hold.h_pk}">
                    <img th:src="@{/resources/holds/img/{h_img}(h_img=${hold.h_img})}">
                </div>
            </div>
        </div>

        <div id="hold-list-container-mobile"  class="list-hidden-mobile">
            <div class="hold-select-mobile" >
                <select id="hold-select-mobile">
                    <option id="all">All</option>
                    <option id="jug">jug</option>
                    <option id="pinch">pinch</option>
                    <option>crimp</option>
                    <option>sloper</option>
                    <option>pocket</option>
                    <option>volume</option>
                </select>
            </div>
            <div class="hold-list-mobile" >
                <div class="hold-img" th:each="hold : ${holds}" th:data-hPk="${hold.h_pk}">
                    <img th:src="@{/resources/holds/img/{h_img}(h_img=${hold.h_img})}">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>