<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/simulator_gallery.css">
<!--    <script src="/resources/js/simulator_gallery.js" defer></script>-->
</head>
<body>
<div class="project-container">
    <form action="">
        <div class="project-search">
            <select name="category" id="category">
                <option value="Normal">Normal</option>
                <option value="Setter">Setter</option>
                <option value="NickName">NickName</option>
            </select>
            <input type="text" />
            <button>
                <img src="/resources/icon/search.png" />
            </button>
        </div>
    </form>

    <div class="project-content">
        <div th:each="pj: ${allProject}" class="project-post" th:onclick="loginCheck([[${session.user_id}]])"
        th:attr="data-pk=${pj.s_pk}">
            <div class="project-img">
                <img th:src="@{/resources/upload/s_project/img/{s_img}(s_img=${pj.s_img})}">
            </div>
            <div class="like-and-comment">
                <img src="/resources/icon/love_blank.png">
                <p>100</p>
                <img src="/resources/icon/chat-bubble.png">
                <p>0</p>
            </div>
            <div class="name-box">
                <p th:text="${pj.u_nickname}">닉네임</p>
                <img th:src="@{'/resources/grade_icon/hold_' + ${pj.u_grade} + '.png'}">
            </div>
        </div>
    </div>
    <span th:text="${session.user_id}"></span>
</div>
</body>
<script>
    function loginCheck(userId) {
        alert("펑션!"+userId);
        console.log(userId);
        if (userId != null && userId !== '') {
            location.href = '/simulator/gallery_detail';
        } else {
            alert('로그인해요~');
        }
    }
</script>
</html>