<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/simulator_gallery.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
    <script src="/resources/js/simulator_gallery.js" defer></script>
</head>
<body>
<div class="project-container">

    <!--  검색   -->
    <div class="gallery-search-box">
        <div class="gallery-search-menu">
            <form action="/simulator/searchNickname">
                <input id="gallery-search-input" placeholder=" nickname search" name="nickname"/>
                <button id="gallery-search-btn">
                    <img src="/resources/icon/search.png" />
                </button>
            </form>
        </div>
        <div class="gallery-category">
            <div class="search-all">All</div>
            <div class="search-setter">Setter</div>
            <div class="search-normal">Normal</div>
        </div>
    </div>

    <!--   검색결과   -->
    <div class="gallery-search-result" th:if="${searchResult}">
        <p th:text="${searchResult}" id="search-result"></p>
    </div>

    <!--  컨텐츠  -->
    <div class="project-content">
        <div th:each="pj: ${project}" class="project-post" th:attr="data-pk=${pj.b_pk}">
            <div class="project-img">
                <img th:src="${pj.b_thumbnail}">
            </div>
            <div class="like-and-comment">
                <img src="/resources/icon/love_blank.png">
                <p th:text="${pj.l_count}"></p>
                <img src="/resources/icon/chat-bubble.png">
                <p th:text="${pj.c_count}"></p>
            </div>
            <div class="name-box">
                <p th:text="${pj.u_nickname}"></p>
                <img th:src="@{'/resources/grade_icon/hold_' + ${pj.u_grade} + '.png'}">
            </div>
        </div>
    </div>

    <!--  모달  -->
    <div class="menu-modal-background" id="confirm-background">
        <div class="menu-modal">
            <p>Available after login</p>
            <button id="confirm-yes">Google login</button>
            <p id="confirm-no">close</p>
        </div>
    </div>

</div>
</body>
</html>