<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/css/simulator_gallery.css">
    <script src="/resources/js/simulator_my_project.js" defer></script>
</head>
<body>
<div class="project-container">
    <div class="project-content">
        <div th:each="myPj: ${myProject}" class="project-post" th:attr="data-pk=${myPj.b_pk}">
            <div class="project-img">
                <img th:src="${myPj.b_thumbnail}">
            </div>
            <div class="like-and-comment">
                <img src="/resources/icon/love_blank.png">
                <p th:text="${myPj.l_count}"></p>
                <img src="/resources/icon/chat-bubble.png">
                <p th:text="${myPj.c_count}"></p>
            </div>
            <div class="name-box">
                <p th:text="${#dates.format(myPj.b_datetime, 'yyyy.MM.dd')}" style="font-size: 0.9em"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>