<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    미디어쿼리 쓸 때에 추가해주기-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/simulator.css"/>
    <!-- menu font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Rampart+One&display=swap"
          rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
    <script type="importmap">
        {
           "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.166.1/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.166.1/examples/jsm/"
    }
        }
    </script>
    <script type="module" src="resources/js/simulator.js" defer></script>
</head>
<body>
<div class="content-container">
    <div class="webgl-content">
        <div id="webgl-container"></div>
        <div class="hold-list-open-btn">
            <div class="hold-list-img">
                <img src="/resources/icon/hold.png">
            </div>
            <!--<div class="hold-list-text">Hold List</div>-->

        </div>
        <div id="hold-list-container" class="list-hidden">

        </div>
    </div>
</div>
</body>
</html>