@font-face {
    font-family: "jpFont01";
    src: url("font/jp_font01.ttf") format("truetype");
}

.community-all-wrapper {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.community-category-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 3em 0 1em 0;

    div {
        border: 0.07em solid #79976a;
        border-radius: 0.3em;
        width: 45%;
        height: 100%;
        display: grid;
        place-items: center;
        color: #79976a;
        font-size: 1.3em;
        color: #79976a;
        font-weight: 900;
    }

    .community-search-icon {
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;

        img {
            height: 100%;
        }
    }
}

.hidden {
    display: none;
}

.community-search-wrapper {
    margin-top: 1em;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

#search-select,
#search-input,
#search-btn {
    height: 75%;
    border: 0.1em solid #79976a;
    border-radius: 0.3em;
    box-sizing: border-box;
}

#search-select {
    width: 20%;
}
#search-select:focus {
    outline: none;
    background-color: rgba(121, 151, 106, 0.26);
}

#search-input {
    width: 70%;
}
#search-input:focus {
    outline: none; /* 포커스 시 아웃라인 제거 */
    background-color: rgba(121, 151, 106, 0.26);
}

#search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    img {
        height: 100%;
    }
}

.community-search-result > div {
    margin: 1vh 0vw;
    text-align: center;
    color: #79976a;
}

@media (max-width: 768px) {
    .community-category-wrapper {
        height: 2.5em;
        margin: 1em 0;

        div {
            width: 40%;
            font-size: 1em;
        }
    }
    .community-search-wrapper {
        height: 2em;
    }
}
