.community-lfg-all-wrapper{
  min-height: 65vh;
}
.community-lfg-container{
  margin: 1em 2%;
}
.community-lfg-wrapper {
  padding: 1em 0.5em;
  border-bottom: 0.1em solid #79976a;
}

.community-lfg-above {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community-lfg-category {
  margin-right: 1vh;
  border: 0.1em solid #79976a;
  border-radius: 0.3em;
  color: #79976a;
  padding: 0.1em 0.5em;
}

.community-lfg-nickname-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.community-lfg-grade {
  display: flex;
  margin-left: 1vw;
  height: 1.5em;
}

.community-lfg-grade img {
  height: 100%;
}

.community-lfg-below {
  font-size: 1.1em;
  padding-top: 0.5em;
}

.community-lfg-insert {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 1em;
  bottom: 1em;
  background-color: #79976a30;
  color: #79976a;
  width: 1.5em;
  height: 1.5em;
  border-radius: 10rem;
  font-size: 3.5em;
  border: none;
}

@media (max-width: 768px){
  .community-lfg-container {
    margin: 1em 0;
  }

  .community-lfg-below {
    font-size: 1.2em;
  }

  .community-lfg-insert {
    right: 0.5em;
    bottom: 0.5em;
    width: 1em;
    height: 1em;
  }
}