.community-lfg-all-wrapper{
  min-height: 65vh;
}
.community-lfg-container{
  margin: 2vw 0;
}
.community-lfg-wrapper {
  padding: 1em 0.5em;
  border-bottom: 0.1em solid #79976a;
}

.community-lfg-above {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2vh;
  margin-top: 0.5em;
  font-size: 1.5em;
}

.community-lfg-category {
  margin-right: 1vh;
  padding: 0.1vh;
  border: 0.1em solid #79976a;
  border-radius: 0.5em;
  width: 20vh;
  text-align: center;
  color: #79976a;
}

.community-lfg-nickname-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1vw;
}

.community-lfg-grade {
  display: flex;
  margin-left: 1vw;
}

.community-lfg-grade img {
  width: 2.5vh;
  height: auto;
}

.community-lfg-below {
  font-size: 1.8em;
  padding-top: 2vh
}

.community-lfg-insert {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 1em;
  bottom: 1em;
  background-color: #79976a30;
  color: #79976a;
  width: 1.5em;
  height: 1.5em;
  border-radius: 10rem;
  font-size: 3.5em;
  border: none;
}

@media (max-width: 768px){
  .community-lfg-above {
    font-size: 1em;
  }
  .community-lfg-below {
    font-size: 1.2em;
  }
}