.community-showoff-video video {
  width: 100%;
  height: 100%;
}

.custom-arrows {
  display: flex;
  justify-content: space-between;
  margin: 0vh 2vw;
  width: 93%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slick-prev,
.slick-next {
  width: 5vh;
  height: 5vh;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.69);

  border-radius: 5vw;
  padding: 2vw;
  cursor: pointer;
}

.community-video-detail-info {
  display: flex;
  justify-content: space-between;
  margin: 1vh 0vw;
}

.community-video-detail-name {
  display: flex;
  font-size: 1.5em;
  margin: 0vh 1vw;
}

.community-video-detail-name > div {
  margin: 0vh 1vw;
}

.community-video-detail-grade img {
  width: 7vw;
  height: auto;
}

.community-video-detail-like {
  display: flex;
  font-size: 2em;
}

.community-video-detail-like > div {
  margin: 0vh 1vw;
}

.community-video-detail-like-icon img {
  width: 8vw;
  height: auto;
}

.community-video-detail-title {
  font-size: 2.5em;
}

.community-video-detail-text {
  margin: 3vh 0vw;
  font-size: 1.5em;
}


.community-showoff-detail-comments-info {
  display: flex;
  justify-content: space-between;
}

.community-showoff-detail-comments-comments{
  display: flex;
}

.community-showoff-detail-comments-updel {
  display: flex;
}

.community-showoff-detail-comments-comments > div,
.community-showoff-detail-comments-updel > div {
  margin: 0vh 1vw;
}

.community-showoff-detail-comments-info img {
  width: 5vw;
  height: auto;
}

.community-showoff-detail-comments-textarea {
  margin: 3vh 0vw;
}

.community-showoff-detail-comments-textarea textarea {
  font-size: 1.5em;
  width: 95vw;
  height: 10vh;
}

.community-showoff-detail-comments-border {
  margin: 2vh 0vw;
  padding: 2vh 0vw;
  border-bottom: 0.2vw solid gray;
  border-top: 0.2vw solid gray;
}

.community-showoff-detail-comments-detail{
  display: flex;
  justify-content: space-between;
}

.community-showoff-detail-comments-nickgrade {
  display: flex;
  position: relative;
}

.community-showoff-detail-comments-nickname {
  text-decoration: underline;
}

.community-showoff-detail-comments-text {
  flex: 1;
}

.community-showoff-detail-comments-nickname {
  font-size: 1.5em;
}

.community-showoff-detail-comments-nicknameMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  z-index: 900;
  top: 4vh;
  left: 0;
  background-color: #e4e4e4;
  box-shadow: 0em 0em 1em #d7d7d7;
  width: 120%;
  border-radius: 1em;

  li {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-size: 1em;
    img {
      width: 4vw;
      height: auto;
      padding: 1em;
    }
  }

  li:last-child {
    border-bottom: none;
    img{
      width: 3.5vw;
    }
  }
}

.community-showoff-detail-comments-nicknameMenu.activeNickname {
  display: flex;
  flex-direction: column;
}


.community-showoff-detail-comments-grade img {
  width: 6vw;
  height: auto;
}

.community-showoff-detail-comments-delete img {
  width: 5vw;
  height: auto;
  margin-right: 3vw;
}

.community-showoff-detail-comments-text {
  margin-top: 1vh;
  font-size: 1.8em;
}