.community-contents-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.community-content {
  display: flex;
  flex-direction: column;
  margin: 3vw 2vh;  /*bm*/
  padding: 2vw;
  width: 35vw;
  aspect-ratio: 1 / 1.5;
  border: 0.2vw solid gray;
  border-radius: 3vw;
}

.community-video {
  /*flex: 1;*/
  height: 36vw;
  background-color: rgb(206, 206, 206);
  text-align: center;
}

.community-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-likecomments-wrapper {
  display: flex;
  flex-direction: row;
}

.community-like img,
.community-comments img{
  width: 3vw;
  height: auto;
}

.community-like,
.community-comments{
  margin: 0.5vh 0vw;
}

.community-like-count,
.community-comments-count {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.community-comments {
  margin-left: 1vw;
}

.community-climbing-name {
  font-size: 3.3vw;
}

.community-nickname-wrapper {
  display: flex;
}

.community-nickname {
  font-size: 3.3vw;
}

.community-grade img {
  margin-left: 1vw;
  width: 3vw;
  height: auto;
}

.community-video-insert{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 7vw;
  bottom: 7vw;
  background-color: black;
  color: white;
  width: 15vw;
  height: 15vw;
  border-radius: 15vw;
  font-size: 3.5em;
}
