.community-lfg-detail-title1st{
    font-size: 1.5em;
    font-weight: bold;
}

.community-lfg-detail-title2nd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.community-lfg-detail-title-nickname{
    text-decoration: underline;
    font-size: 1.3em;
    margin-bottom: 0.5vh;
}

.community-lfg-detail-title3rd {
    margin: 2vh 0vw;
}

.community-lfg-detail-more-wrapper {
    position: relative;
}

.community-lfg-detail-title-more img{
    width: 10vw;
    height: auto;
}

.community-lfg-detail-title-user {
    display: flex;
    position: relative;
}

.community-lfg-detail-title-grade img {
    width: 7vw;
    height: auto;
    margin-left: 0.5vw;
}

.community-lfg-detail-text{
    border-bottom: 0.2vw solid gray;
    border-top: 0.2vw solid gray;
    margin-bottom: 4vh;
    padding: 2vh 3vw;
}

.community-lfg-detail-updelMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 900;
    top: 5vh;
    right: 0vw;
    background-color: #ffffff;
    box-shadow: 0em 0em 1em #d7d7d7;
    width: 30vw;
    border-radius: 1em;

    li {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        height: 5vh;
        font-size: 1em;
        img {
            width: 4vw;
            height: auto;
            padding: 1em;
        }
    }

    li:last-child {
        border-bottom: none;
        img{
            width: 3.5vw;
        }
    }
}

.community-lfg-detail-board-nicknameMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 900;
    top: 5vh;
    left: 0vw;
    box-shadow: 0em 0em 1em #79976a;
    width: 130%;
    border-radius: 1em;
    border: 0.2vw solid #79976a;
    color: #79976a;
    background-color: white;
    font-weight: bold;

    li {
        border-bottom: 1px solid #79976a;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        font-size: 1em;
        img {
            width: 4vw;
            height: auto;
            padding: 1em;
        }
    }

    li:last-child {
        border-bottom: none;
        img{
            width: 3.5vw;
        }
    }
}

.community-lfg-detail-updelMenu.active {
    display: flex;
    flex-direction: column;
}

.community-lfg-detail-board-nicknameMenu.activeNickname  {
    display: flex;
    flex-direction: column;
}