.all-wrapper{
  display: flex;
  padding: 0 15%;
  flex-direction: column;
  margin: 1em 0 2em 0;
  min-height: 145vh;
  overflow: hidden;
}

/* 비디오 디테일 CSS */
.showoff-video video {
  width: 15em;
  height: auto;
  margin: 0vh 7vw;
}

.top-box,
.top-box-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #79976a;

  p {
    margin: 0;
    font-weight: 900;
    font-size: 1.1em;
  }
}

.top-box{
  border-bottom: 0.1em solid #79976a;
  margin: 1em 0;
  padding: 0 0 0.5em 0;
}

.name-box,
.comment-name-box {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 1.5em;
    margin-left: 0.5em;
  }
}

.comment-name-box {
  color: black;
}

.video-detail-info-container {
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* 좋아요, 수정 삭제 btn*/
.video-like-delete-box{
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid #79976a;
  padding: 1em 0;
}

.video-detail-like-box{
  display: flex;
  align-items: center;
}

/* 좋아요 수 P태그*/
.video-detail-like-count{
  margin: 0 0 0 0.3em;
  font-size: 1.5em;
}

/* 좋아요 */
/* 수정, 삭제 */
.video-detail-like-icon,
.video-detail-update-delete-box {
  display: flex;
  height: 2em;

  img{
    height: 100%;
  }
}

.video-detail-like-icon{
  position: relative;
}

/* 수정, 삭제 */
.video-detail-update-delete-box{
  position: absolute;
  right: 15.5%;
}

.video-detail-delete{
  margin-left: 1em;
}


/*  타이틀  */
.video-detail-title {
  font-size: 1.5em;
  padding: 0.5em 0;
}

.video-detail-title a{
  color: #79976a;
  font-style: italic;
  font-weight: 900;
}

.video-detail-title a:visited {
  color: #79976a;
}

/* 본문 */
.video-detail-text{
  min-height: 10em;
}

/* 댓글 아이콘 */
.showoff-detail-comments-comments{
  display: flex;
  align-items: center;
  height: 2em;

  img{
    height: 100%;
  }

  p{
    margin: 0 0 0 0.3em;
  }
}

/* 댓글 인풋 */
.showoff-detail-comments-input {
  display: flex;
  height: 3rem;
  border-bottom: 0.1em solid #79976a;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5em;

  input {
    height: 80%;
    width: 90%;
    border: 0.05em solid #79976a;
    border-radius: 0.3em;
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  button {
    width: 3.2em;
    height: 3.2em;
    background-color: white;
    border: 0.1em solid #79976a;
    border-radius: 0.3em;

    img {
      width: 100%;
    }
  }
}

/* 댓글 */
.comment-list {
  border-bottom: 0.1em solid #79976a;
  padding: 0.5em 0;
}

.date-delete-box {
    display: flex;
    align-content: center;
    p {
        font-weight: normal;
        font-size: 0.9em;
    }
}

.showoff-detail-comments-delete img{
    height: 1.5em;
    margin-left: 0.5em;
}

.comment-text {
  margin: 0;
  padding: 0.5em 0;
}

/* lfg 디테일 CSS */

/* 타이틀 */
.lfg-detail-title{
  display: flex;
}

#lfg-title-category{
  margin-right: 0.5em;
}

/* 닉네임, 날짜, 더보기 btn */
.lfg-detail.top-box.name-date-more {
  border: none;
  margin: 0;
  color: black;
}

.date-more-box{
  display: flex;
  align-items: center;
  color: black;

  img{
    margin-left: 0.5em;
    height: 2em;
    width: 2em;
    position: relative;
  }
}


.lfg-detail-updelMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  z-index: 900;
  top: 5vh;
  right: 0vw;
  background-color: #ffffff;
  box-shadow: 0em 0em 1em #d7d7d7;
  width: 30vw;
  border-radius: 1em;

  li {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    height: 5vh;
    font-size: 1em;

    img {
      width: 4vw;
      height: auto;
      padding: 1em;
    }
  }

  li:last-child {
    border-bottom: none;
    img{
      width: 3.5vw;
    }
  }
}

.lfg-detail-updelMenu.active {
  display: flex;
  flex-direction: column;
}




@media (max-width: 768px){
  .lfg-detail-title{
    display: block;
  }
  .all-wrapper{
    padding: 0;
  }
}