.community-contents-container {
    min-height: 80vh;

}

.community-contents-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin: 1.5rem 0;
}

.community-content {
    width: 15rem;
    height: 20rem;
    border: 0.07em solid #79976a;
    border-radius: 0.8em;
    padding: 1%;
    margin-bottom: 1em;
}

.community-video {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.community-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community-likecomments-wrapper {
    display: flex;
    flex-direction: row;
    height: 3.2vh;
    margin-top: 0.5em;
    align-items: center;
}

.community-like img,
.community-comments img {
    width: 3.5vh;
    height: auto;
}

.community-like,
.community-comments {
    margin: 0 0.5vh 0 0;
}

.community-like-count,
.community-comments-count {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.community-comments {
    margin-left: 1em;
}

.community-climbing-name {
    font-size: 3vh;
    margin: 0.5vh 0;
    width: 110%;
    font-weight: 900;
}

.community-nickname-wrapper {
    display: flex;
    align-items: center;
    height: 2em;
}

.community-nickname {
    margin-right: 0.5em;
}

.community-grade {
    display: flex;
    align-items: center;
    height: 100%;

    img {
        height: 100%;
    }
}

.community-video-insert {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 1em;
    bottom: 1em;
    background-color: #79976a;
    color: white;
    width: 1.5em;
    height: 1.5em;
    border-radius: 10rem;
    font-size: 3.5em;
    border: 0.01em solid white;
}

@media (max-width: 768px) {
    .community-content {
        width: 41vw;
        height: 60vw;
    }

    .community-video {
        height: 65%;
    }

    .community-likecomments-wrapper {
        margin-top: 0.8em;
        height: 8%;
    }

    .community-nickname-wrapper{
        margin-top: 0.5em;
        height: 8%;
    }

    .community-grade {
        height: 100%;
        margin-left: 0.2em;

        img {
            height: 100%;
        }

    }

    .community-video-insert {
        right: 0.5em;
        bottom: 0.5em;
        width: 1em;
        height: 1em;
    }

    .community-climbing-name {
        height: 8%;
    }

}
