@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    padding: 1vh 0vw;
    margin: 1vh 0vw;
    font-family: 'Lato';
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.2vw solid gray;
    border-top: 0.2vw solid gray;

}

.ck-content {
    font-family: 'Lato';
    font-size: 1.2em;
    line-height: 1.6;
    word-break: break-word;
}

.ck-dropdown__panel, .ck-button {
    font-size: 0.95em !important;
}


.community-lfg-title-input {
    border-bottom: 0.2vw solid gray;
    border-top: 0.2vw solid gray;
    display: flex;
}

.community-lfg-title-input input {
    flex: 1;
    height: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 1.5em;
}

.community-lfg-title-input input:focus {
    outline: none;
}

.community-lfg-insert-button {
    display: flex;
    justify-content: center;
}

