@font-face {
    font-family: "jpFont01";
    src: url("font/jp_font01.ttf") format("truetype");
}

.community-all-wrapper {
    width: 100%;
    height: auto;
    margin: 2vw 0;
}

.community-category-wrapper {
    margin-top: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    font-size: 2.5vh;
    font-family: "jpFont01";
    div {
        background-color: #79976a;
        border-radius: 0.3em;
        width: 45%;
        height: 100%;
        display: grid;
        place-items: center;
        color: white;
        margin: 0 0.1em;
    }

    .community-search-icon {
        width: 3rem;
        img {
            width: 100%;
            filter: invert(100%);
        }
    }
}

.hidden {
    display: none;
}

.community-search-wrapper {
    width: 100%;
    margin-top: 1.5vh;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 2.2rem;

    select,
    .search-input {
        border-radius: 1em;
        border: 0.1rem solid #79976a;
        font-family: "jpFont01";
        height: 100%;
    }

    select {
        width: 18%;
    }
    select:focus{
        background-color: rgba(121, 151, 106, 0.26);
    }

    .search-input {
        width: 80%;
        display: flex;
        overflow: hidden;

        input {
            border: none;
            height: 96%;
            width: 83%;
            font-size: 1.5em;
        }
        input:focus {
            outline: none; /* 포커스 시 아웃라인 제거 */
            background-color: rgba(121, 151, 106, 0.26);
        }

        button {
            height: 100%;
            width: 17%;
            background-color: #ffffff00;
            overflow: hidden;
            right: 0;
            border: none;

            img {
                height: 100%;
                width: auto;
            }
        }
    }


}

.community-search-wrapper.show {
    flex-direction: row;
    height: 10vw;
}

.community-search-wrapper > div {

}




