* {
    cursor: url("../icon/brush.png"), auto;
}
@font-face {
    font-family: "jpFont";
    src: url("font/jp_font.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: jpFont;
    color: #23261c;
}

.main-background-img {
    width: 100%;
    height: 100%;
    display: block;

    img {
        position: absolute;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: opacity 1s;
        object-fit: cover;
    }
}

.main-background-img img.active {
    opacity: 0.6;
}

.main-menu-container {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-title {
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -28vh;
        z-index: 900;

        #main-title-carabiner {
            position: absolute;
            top: -4vh;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10vw;

        }
        #main-title-text {
            position: absolute;
            top: 4vh;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35vw;
        }

    }

    .main-menu-list {
        position: absolute;
        bottom: 10vh;
        width: 27vw;
        height: 52vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0.8em;
        font-size: 2.5vw;

        .main-map,
        .main-simulator,
        .main-community,
        .main-login,
        .main-logout,
        .main-mypage {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;
            color: #2a2a2a;
            border-radius: 0.8em;
            background-color: rgba(236, 236, 236, 0.75);
            /*box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.645);*/
            margin-bottom: 0.5em;


        }
        .main-login,
        .main-logout,
        .main-mypage{
            width: 75%;
        }
        .main-map:hover{
            background-color: #caea79;
            color: #000000c9;
        }
        .main-simulator:hover{
            background-color: #ff6262;
            color: #000000c9;
        }
        .main-community:hover{
            background-color: #feec68;
            color: #000000c9;
        }
        .main-login:hover,
        .main-logout:hover,
        .main-mypage:hover {
            background-color: #93c5f6;
            color: #e1e1e1;
        }
    }

    /*.main-login,*/
    /*.main-logout,*/
    /*.main-mypage {*/
    /*    width: 30%;*/
    /*    height: 25%;*/
    /*    font-size: 1.5em;*/
    /*    border-radius: 1em;*/
    /*    background-color: #a9c9ad61;*/
    /*    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.645);*/
    /*}*/
    .main-map-img,
    .main-simulator-img,
    .main-community-img,
    .main-login-img {
        width: 16%;
        height: auto;
        margin-right: 2vw;
        display: flex;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.main-map:hover,
.main-simulator:hover,
.main-community:hover,
.main-login:hover,
.main-logout:hover,
.main-mypage:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .main-menu-container {
        .main-title {
            top: -28vh;

            #main-title-carabiner {
                top: -4vh;
                width: 22vw;
            }
            #main-title-text {
                top: 3vh;
                width: 84vw;
            }
        }

        .main-menu-list {
            width: 80vw;
            height: 52vh;
            font-size: 8vw;
        }

    }
}
