body {
    margin: 0;
}

.map-box {
    width: 430px;
    height: 80%;

    #map {
        height: 80vh;
        width: 100%;
        position: relative;
    }

    .map-input {
        position: absolute;
        top: 2vw;
        left: 20vw;
        height: 4vw;
        width: 50vw;
    }
}
