body {
    margin: 0;
}

.mypage-all-wrapper {
    display: flex;
    height: 100%;
    padding: 0% 30%;
    background-color: #79976a0a;
    justify-content: center;
}

.mypage-profile-container {
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: #79976a;
    font-style: italic;
    height: 100%;
    margin: 30% 0;
    font-weight: 900;
}

.mypage-profile {
    width: 100%;
    position: relative;
}

.mypage-profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    margin-bottom: 0.7rem;
    border: 0.15em solid #79976a;
    overflow: hidden;
}

#climbing-img {
    position: absolute;
    left: 0;
    bottom: -140%;
    height: 15em;
}

.mypage-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage-title {
    position: absolute;
    border-bottom: 2px solid #79976a;
    width: 33%;
    bottom: 99.2%;
    font-size: 1.5em;
    font-style: italic;
}

.mypage-name-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 68%;
    height: 2rem;
    margin: 0.7em 0;
    bottom: 0.15em;
    right: 0;
    border-bottom: 2px solid #79976a;
    font-size: 0.8em;
}

#grade, #grade-setter {
    height: 1.5em;
    margin-left: 0.5em;
}

#instagram-link {
    display: flex;
}

#instagram {
    height: 1.3em;
    margin-left: 0.5em;
}

.together,
.video,
.place,
.homeground,
.myplace,
.gallery,
.comments,
.info-update {
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid #79976a;
}

.together img,
.video img,
.place img,
.homeground img,
.myplace img,
.gallery img,
.comments img,
.info-update img {
    height: 1em;
    margin-left: 0.5em;
}

.homeground {
    width: 60%;
    flex-direction: column;
    align-items: end;
}

.homeground div {
    display: flex;
    align-items: center;
}

.homeground p {
    margin: 0;
}

.homeground p:nth-child(2) {
    margin: 0.5em 0;
    font-size: 0.8em;
    font-weight: normal;
}

.together {
    width: 47%;
}

.comments {
    width: 45%;
}

.video {
    width: 37%;
}

.myplace {
    width: 31%;
}

.mypage.gallery{
    width: 20%;
}
.profile.gallery{
    width: 26%;
}

.place {
    width: 15%;
}

.info-update {
    width: 10%;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .mypage-all-wrapper {
        padding: 0;
    }

    .mypage-profile-container {
        width: 80%;
    }

}