body {
    overflow: hidden;
}
.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.6rem;
}
.webgl-content {
    width: 100%;
    height: 80vh;
    border: 0.1em solid lightgray;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#webgl-container {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .webgl-content {
        width: 100%;
        height: 60vh;
    }
}