.webgl-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    /*margin: 1em 0;*/
}

#webgl-container {
    width: 99%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 0.1em solid lightgray;
    border-radius: 1em;
    overflow: hidden;
}

.content-container {
    display: flex;
    padding: 0 15%;
    flex-direction: column;
    margin: 1em 0 2em 0;
}

.top-box {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;

    p {
        margin: 0;
        font-size: 1.5em;
    }
}

.name-box {
    display: flex;
    align-items: center;
    height: 100%;


    img {
        height: 80%;
        margin-left: 0.5em;
    }
}

.middle-box {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0 0.5em;
    margin: 1em 0 0 0;
}

.like-box,
.delete {
    display: flex;
    align-items: center;

    img {
        height: 80%;
    }

    p {
        margin: 0 1em 0 0.3em;
        font-size: 1.5em;
    }
}

.comment-container {
    /*background-color: #007bff;*/
}
.nickname{
    position: relative;
}
.profile-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 30%;
    border-radius: 1em;
    border: solid #79976a;

    li {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        height: 6vw;
        font-size: 2.2vw;
    }

    li:last-child {
        border-bottom: none;
    }
}

.profile-menu.active {
    display: flex;
    flex-direction: column;

}

.comment-input {
    display: flex;
    height: 3rem;
    border-bottom: 0.1em solid #79976a;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;

    input {
        height: 80%;
        width: 90%;
        border: 0.05em solid #79976a;
        border-radius: 0.3em;
        font-size: 1.5em;
        margin-right: 0.5em;
    }

    button {
        width: 3.2em;
        height: 3.2em;
        background-color: white;
        border: 0.1em solid #79976a;
        border-radius: 0.3em;

        img {
            width: 100%;
        }
    }
}

.comment-list {
    border-bottom: 0.1em solid #79976a;
}



@media (max-width: 768px) {
    .content-container {
        min-height: 100vh;
        padding: 0 2%;
    }

    .webgl-content {
        height: 60vh;
    }

    .top-box {
        p {
            font-size: 1.3em;
        }
    }

    .name-box {
        img {
            height: 60%;
        }
    }

    .like-box,
    .delete {
        p {
            font-size: 1.3em;
        }

        img {
            height: 60%;
        }
    }

}