.s-menu-container{
    /* width: 100%; */
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    margin: 3em 0 1em 0;
    /* padding: 0 15%; */

    div {
        height: 99%;
        width: 30%;
        border: 0.1em solid #79976a;
        border-radius: 0.3em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3em;
        color: #79976a;
        font-weight: 900;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    div::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #79976a;
        transition: left 0.5s ease;
        z-index: -1;
    }

    div:hover::before {
        left: 0;
    }

    div:hover {
        color: white;
    }

}


/* 모달 배경 */
.menu-modal-background,
.create-modal-background,
.delete-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* 모달 창 */
.menu-modal,
.create-modal,
.loading-modal,
.save-complete-modal,
.delete-modal,
.delete-complete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    background-color: white;
    padding: 1.5em;
    border-radius: 0.5em;
    text-align: center;
    z-index: 10000;
    font-style: italic;
    color: #79976a;
}
.menu-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading-modal,
.save-complete-modal,
.delete-complete-modal {
    display: none;
}
.loading-modal img {
    width: 50%;
    height: auto;
}

.delete-modal p,
.create-modal p:first-child {
    font-weight: 900;
}
.create-modal p:nth-child(2){
    font-size: 0.7em;
}

/* 버튼 스타일 */
.menu-modal button,
.create-modal button,
.save-complete-modal button,
.delete-modal button,
.delete-complete-modal button{
    padding: 0.5em 1em;
    border: none;
    background-color: #79976a;
    color: white;
    border-radius: 0.3em;
}

.menu-modal button:hover,
.create-modal button:hover,
.save-complete-modal button:hover,
.delete-modal button:hover,
.delete-complete-modal button:hover{
    background-color: #516746;
}

#confirm-no {
    font-size: 0.7em;
    margin-bottom: 0;
    color: #a7b39f;;
}

#confirm-no:hover{
    font-weight: 900;
}

@media (max-width: 768px) {
    .s-menu-container{
        height: 2.5rem;
        margin: 1em 0;
        div{
            font-size: 1em;
        }
    }
}