body {
    overflow: hidden;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 0.1em solid lightgray;
    border-radius: 1em;
    background-color: rgb(226, 240, 215);
    font-family: "Mochiy Pop P One", sans-serif;
    margin-bottom: 1em;
}

.webgl-content {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;

    #webgl-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
    }

    .btn-container {
        position: absolute;
        top: 1em;
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hold-list-open-btn,
        .save-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 900;
            width: 9vh;
            height: 9vh;
            border-radius: 100%;
            box-shadow: 0em 0em 0.4em gray;
            background-color: rgba(245, 245, 245, 0.52);

            img {
                width: 80%;
                height: auto;
                object-fit: cover;
            }
        }
        .save-btn img {
            width: 60%;
        }

    }


    .hold-list-open-btn:hover,
    .save-btn:hover {
        transform: scale(1.05);
    }

    #hold-list-container-pc {
        width: 35vw;
        height: 97%;
        display: none;
        position: absolute;
        left: -100%;
        transition: left 0.5s ease;
        background-color: whitesmoke;
        border-radius: 1em;
        box-shadow: 0em 0em 0.4em gray;
        flex-direction: column;
        padding-top: 1em;
        align-items: center;

        .list-hidden-pc {
            left: -100%;
        }

        .list-visible-pc {
            left: 0;
        }

        .hold-list-pc {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 10vw;
            gap: 0.5em;
            margin: 0.5em;
            overflow-y: auto;
            padding-top: 4em;

            .hold-img {
                height: 10vw;
                width: 10vw;
                background-color: #b0b69a;
                border-radius: 100em;
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;

                }
            }
        }

    }


}

@media (max-width: 768px) {
    .webgl-content {
        height: 87vh;

        .btn-container {
            #webgl-container {
                width: 100%;
                height: 100%; /*버튼 클릭하면 여기 조정되는 js*/
            }

            .hold-list-open-btn,
            .save-btn {
                width: 7vh;
                height: 7vh;
            }
        }
        #hold-list-container-mobile {
            width: 100%;
            height: 60vw;
            display: none;
            background-color: whitesmoke;
            position: absolute;
            bottom: -100%;
            border-radius: 1em;
            box-shadow: 0em 0em 0.4em gray;
            flex-direction: column;
        }

        .list-visible-mobile {
            bottom: 0;
        }

        .list-hidden-mobile {
            bottom: -100%;
        }

        .hold-list-mobile {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5em;
            margin: 0.5em;
            overflow-y: auto;

            .hold-img {
                height: 29vw;
                width: 29vw;
                background-color: #b0b69a;
                border-radius: 100em;
                display: flex;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;

                }
            }
        }
    }


}
