.webgl-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    /*margin: 1em 0;*/
}

#webgl-container {
    width: 99%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 0.1em solid lightgray;
    border-radius: 1em;
    overflow: hidden;
}

.content-container {
    display: flex;
    padding: 0 15%;
    flex-direction: column;
    margin: 1em 0 2em 0;
    min-height: 145vh;
}

.top-box {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
    font-weight: 900;
    margin: 1em 0.5em;
    border-bottom: 0.1em solid #79976a;
    color: #79976a;
    font-style: italic;

    p {
        margin: 0;
        font-size: 1.1em;
    }
}

.name-box,
.comment-name-box {
    display: flex;
    align-items: center;
    height: 100%;

    img {
        height: 1.5em;
        margin-left: 0.5em;
    }
}

.detail-date{
    font-weight: normal;
}

.like-delete-box {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    padding: 0 0.5em;
    margin: 1em 0 0 0;
}

#toggle-like {
    display: flex;
    align-items: center;
    height: 100%;
}

.like-box,
#toggle-like,
.delete {
    display: flex;
    align-items: center;

    img {
        height: 80%;
    }

    p {
        margin: 0 1em 0 0.3em;
        font-size: 1.5em;
    }
}

.comment-container {
    /*background-color: #007bff;*/
}

.nickname {
    position: relative;
}

.comment-input-wrapper {
    border-bottom: 0.1em solid #79976a;
}

.comment-input {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;

    input {
        height: 80%;
        width: 90%;
        border: 0.05em solid #79976a;
        border-radius: 0.3em;
        font-size: 1.5em;
        margin-right: 0.5em;
    }

    button {
        width: 3.2em;
        height: 3.2em;
        background-color: white;
        border: 0.1em solid #79976a;
        border-radius: 0.3em;

        img {
            width: 100%;
        }
    }
}

.comment-list {
    border-bottom: 0.1em solid #79976a;
    padding: 0.5em 0;
}

.comment-top-box {
    border: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 2em;
    position: relative;
}

.date-delete-box{
    display: flex;
    align-items: center;
    font-size: 0.9em;

    img{
        margin-left: 0.5em;
        height: 1.3em;
    }
}

.comment-text {
    margin: 0;
    padding: 0.5em 0;
}

@media (max-width: 768px) {
    .content-container {
        padding: 0 2%;
    }

    .webgl-content {
        height: 60vh;
    }

    .detail-date {
        font-size: 1em;
    }

    .name-box {
        img {
            height: 60%;
        }
    }

    .like-box,
    #toggle-like,
    .delete {
        p {
            font-size: 1.3em;
        }

        img {
            height: 60%;
        }
    }

    #comment-text {
        padding: 0 0.5em;
        margin: 0 0 1em 0;
    }

}