<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburger Title</title>
    <link rel="stylesheet" href="/resources/css/index.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>

</head>
<body>
<p th:text="${user_id}"></p>
<nav class="menu">
    <div class="logo" onclick="location.href='/'"><img src="/resources/img/logo.png"></div>
    <div class="hamburger" onclick="toggleMenu()">
        <div class="hamburger-bar"></div>
        <div class="hamburger-bar"></div>
        <div class="hamburger-bar"></div>
    </div>
    <ul class="hamburger-menu">
        <li onclick="location.href='/mapC'"><img src="/resources/icon/map.png" />Map</li>
        <li onclick="location.href='/simulator_main'"><img src="/resources/icon/hold.png" />Simulator</li>
        <li onclick="location.href='/community/video'"><img src="/resources/icon/community.png" />Community</li>
<!--        <li id="logout"><img src="/resources/icon/google.png" /><p id="menu-login">ログアウト</p></li>-->
    </ul>
</nav>
<div th:include="${content}"></div>

<footer>
    <a href="https://github.com/boorimi/CliMate" target="_blank" rel="noopener noreferrer">
        <img src="/resources/icon/github_w.png" />
        <p>CliMate_PJ</p>
    </a>
</footer>
<script src="/resources/js/index.js"></script>
</body>
</html>