<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title>Map</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${mapKey} + '&libraries=places'"></script>
    <script defer th:src="@{/resources/js/map.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/css/map.css}">
</head>
<body>
<div class="map-box">
    <div class="search-overlay"></div>
    <div id="map"></div>
    <div class="map-search-box">
        <div class="category-box" id="category-box" th:if="${user_id} != null">
            <img class="search-list" src="/resources/icon/list.png"/>
        </div>
        <input class="map-input" id="map-input"/>
        <div class="btn-box">
            <img class="search-btn" src="/resources/icon/search.png"/>
        </div>
    </div>
    <div class="search-popup-box" id="search-popup-box">
        <p class="popup-cancel">X</p>
        <div class="search-box">
            <input class="search-input" id="search-input">
            <img class="search-img" src="/resources/icon/search.png">
        </div>
        <div class="search-type">
            <div class="type-box">
                <p>Wish</p>
                <p id="wish-cnt"></p>
            </div>
            <div class="type-box">
                <p>Visited</p>
                <p id="check-cnt"></p>
            </div>
        </div>
        <ul class="search-result-list">
            <li class="search-result">
                <!--                <div class="search-icon">-->
                <!--                    <img class="icon" id="icon" src="/resources/icon/wish_gray.png">-->
                <!--                </div>-->
                <!--                <div class="search-text">-->
                <!--                    <p id="place_name">손상원 클라이밍</p>-->
                <!--                    <p id="place_addr">서울 특별시 특별한곳입니다만? 나는 여기 살고있어요?</p>-->
                <!--                </div>-->
                <!--                <div class="search-map">-->
                <!--                    <a id="search-link"><img src="/resources/icon/map.png"></a>-->
                <!--                </div>-->
            </li>
        </ul>
    </div>

</div>
</body>
</html>
